* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(66, 66, 66);
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* DISPLAY */

.display {
    width: 300px;
    padding: 20px;
    background-color: rgb(44, 53, 56);
    border-radius: 20px;
    border: 5px solid rgb(158, 197, 211);
    display: flex;
    justify-content: center;
    align-items: center;  
}

.content {
    width: 285px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    color: #fff;
}

.title {
    font-size: 30px;
}

/* DISPLAY */




/* BUTTONS */

.buttons {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.lenBtn {
    width: 90px;
    height: 30px;
    background-color: rgb(158, 197, 211);
    border-radius: 10px;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.pwdInput {
    width: 100%;
    height: 30px;
    background-color: rgb(158, 197, 211);;
    display: none;
    text-align: center;
    border: 0;
    border-radius: 10px;
}

.ownBtn {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(158, 197, 211);
    border: 0;
}

.generateBtn {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(158, 197, 211);
    border: 0;
}

.hoverBtn:hover {
    background-color: rgb(195, 225, 236);
}

/* BUTTONS */




/* RESULT WINDOW */

.resultWin {
    width: 300px;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    background-color: rgb(44, 53, 56);
    border-radius: 20px;
    border: 5px solid rgb(158, 197, 211);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    font-size: 20px;
    transform: translateY(155px);
}

/* RESULT WINDOW */